* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input:active, input:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0;
    margin-top: 40px;
    margin-bottom: 50px;
}

.config-form {
    flex: 1;
    font-size: 18px;
}

.config-data {
    display: flex;
    flex-direction: inline;
    justify-content: space-between;
    min-width: 100vw;
    flex: 0;
    flex-wrap: wrap;
    font-size: 18px;
}

.choose-server {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 35px;
    flex: 1;
}
.choose-server select {
    font-size: 18px;
}

.login-block label {
    margin-top: 7px;
}

.login-block input {
    margin-bottom: 7px;
    padding: 2px;
}

.login-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 35px;
    flex: 1;
}

.login-button-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px;
    flex: 1;
}

hr {
    min-width: 90vw;
}

/* Buttons styles start */
input.blue-button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-size: calc(2px + 1rem);
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input.blue-button:hover,
input.blue-button:focus {
    background: #0053ba;
}
input.blue-button:active {
    transform: scale(0.95);
}
/* Button styles end */

input.error  {
  background-color: #fce4e4;
  border-color: #cc0033;
  border-style: solid;
  outline: none;
}
label.error  {
    color: #cc0033;
}

.app-link {
    color: #61dafb;
    text-decoration: none;
}

.output {
    flex: 1;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content {
    flex: 0;
    display: flex;
    flex-direction: inline;
    justify-content: space-between;
    margin: 35px;
    font-size: calc(12px + 1vh);
}

.content h3 {
    margin-bottom: 15px;
}
.content p {
    margin-bottom: 15px;
}