{{ define "content" }}

    <div class="content">
        <div class="control-buttons">
            <input type="button" class="blue-button" value="One" />
            <input type="button" class="blue-button" value="One more" />
            <input type="button" class="blue-button" value="More than" />
        </div>

        <div class="message-block">
            {{ range $key, $value := .Envelope }}
                {{ if not (eq $key 0) }} <hr noshade> {{ end }}
                <a href="/letter?uid={{ $value.UID }}" class="message {{ if not .Seen }}unseen{{ end }}">
                    <div class="contact" title="{{ .Sender }} {{.Email }}">
                        <span>{{ trunc 20 $value.Sender }}</span> <span class="funny-ball">{{ if not .Seen }} &#9679; {{ end }} </span>
                    </div>
                    <div class="subject" title="{{ .Subject }}">
                        {{ trunc 50 $value.Subject }}
                    </div>
                    <div class="date">
                        {{ .Date }}
                    </div>
                </a>
            {{ end }}
        </div>
        
    </div>

{{ end }}