{{ define "index" }}
{{ template "header" }}

    <div class="main">
        <div class="title">
            <h2>Wellcome to IMAP client app!</h2>
        </div>

        {{ if and .Auth.Login .Auth.Password .Auth.Server }}

            <div class="config-data">
                <div class="choose-server">
                    <h3>Server:</h3>
                    <p>{{ .Auth.Server }}</p>
                </div>

                <div class="login-block" id="login-block">
                    <h3>Login:</h3>
                    <p>{{ .Auth.Login }}</p>
                </div>

                <div class="login-button-block">
                    <input type="submit" class="blue-button" value="Logout" id="logout-button" />
                </div>
            </div>

            <hr/>
                    
            <div class="output">
                {{ template "content" . }}
            </div>

        {{ else }}

            <form class="config-form" action="/auth">
                <div class="choose-server">
                    <label for="server">Server:</label>
                    <select name="server" id="server">
                        <option>imap.rambler.ru</option>
                    </select>
                </div>

                <div class="login-block" id="login-block">
                    <label for="login" id="label-login">Login:</label>
                    <input type="text" id="login" placeholder="login" name="login" autocomplete="off" />
                            
                    <label for="password" id="label-password">Password:</label>
                    <input type="password" id="password" placeholder="*******" name="password" autocomplete="off" />                    
                </div>

                <div class="login-button-block">
                    <input type="submit" class="blue-button"  value="Login" id="login-button" />
                </div>
            </form>

        {{ end }}

    </div>

{{ template "footer" }}
{{ end }}